.bottomtabs{
  display: none;
}
.userCards{
  display: flex;
  flex-wrap: wrap ;
}
.contnt{
  height: 86vh;
}
/* .Cbtn{
  width: 90%;
  display: table;
  border-radius : 0px !important;
  margin: 10px auto !important;
} */
.fld{
  border: none !important;
}
.Cbtn{
  display: table;
  margin: 20px auto !important;
  border-radius : 0px !important;
  width : 50%;
  color: white;
  background-color: #F14E95;
}
.Cbtn:hover{
  transform: scale(1.1);
  color: white;
}
.control-width{
  width: 31%; 
  box-shadow: 0 8px 40px -12px rgba(0,0,0,0.3);
  margin: 0px 10px 15px 10px;
  border-radius: 10%  !important;
}
.control-width:hover{
  box-shadow: 0 16px 70px -12.125px rgba(0,0,0,0.3);
}
.btn-wdth{
  width: 80% !important;
}

.userCards{
  width: 100% !important;
}
@media screen and (max-width: 1050px) {
  .control-width{
    width: 47%; 
  }
}
@media screen and (max-width: 1050px) {
  .control-width{
    width: 47%; 
  }
}
@media screen and (max-width: 744px) {
  .control-width{
    width: 100%; 
  }
  .userCards{
    margin-top: -40px !important;
  }
}
@media screen and (max-width: 960px) {
  .tabs{
    display: none;
  }
  .bottomtabs{
    display: contents;
  }
}