.bottomtabs{
  display: none;
}
.prntbtn{
  float : right !important;
  margin-right : 30px !important;
}
@media print {
  .status{
    display: none;
  }
}
.btn-wdh{
  width: 12% !important;
}
.prc{
  float: right !important;
  font-size: 16px;
  color: #F14E95;
}
#ctm{
  width: 160vh;
  display: table;
  margin: 0 auto;
  box-shadow: 0 8px 40px -12px rgba(0,0,0,0.4);
}
.userCards{
  display: flex;
  flex-wrap: wrap ;
}
.contnt{
  height: 86vh;
}
/* .Cbtn{
  width: 90%;
  display: table;
  border-radius : 0px !important;
  margin: 10px auto !important;
} */
.fld{
  border: none !important;
}
.Cbtn{
  display: table;
  margin: 20px auto !important;
  border-radius : 5px !important;
  width : 50%;
  color: white;
  background-color: #F14E95;
}
/* style={{fontFamily: "serif,'Sacramento', Arial",color:"orange",fontSize:"16px",marginTop:"-50px",border: "2px solid orange",padding: "8px"}} */
.status{
  font-family: serif,'Sacramento', Arial;
  color:rgb(221, 158, 42);
  font-size: 16px;
  margin-top: -50px;
  font-weight: bold;
  border: 2px solid rgb(190, 131, 20);
  padding: 8px;
}
.Cbtn:hover{
  transform: scale(1.1);
  color: white;
}
.Dbtn{
  margin: -60px 0px 0px 40px !important;
  background-color: rgb(231, 124, 82) !important;
}
.Ebtn{
  float: right !important;
  margin: -40px 40px 0px 0px !important;
  background-color: rgb(54, 189, 106) !important;
}
.control-width{
  width: 31%; 
  box-shadow: 0 8px 40px -12px rgba(0,0,0,0.3);
  margin: 0px 10px 15px 10px;
  border-radius: 10%  !important;
}
.control-width:hover{
  box-shadow: 0 16px 70px -12.125px rgba(0,0,0,0.3);
}
.btn-wdth{
  margin: 5px auto 50px auto !important;
  width: 70% !important;
  font-weight: bold !important;
}
.btn-width{
  width: 23% !important;
  margin-top: -10px !important;
}

.userCards{
  width: 100% !important;
}
@media screen and (max-width: 1050px) {
  .control-width{
    width: 47%; 
  }
}
@media screen and (max-width: 1050px) {
  .control-width{
    width: 47%; 
  }
}
@media screen and (max-width: 744px) {
  .control-width{
    width: 100%; 
  }
  .userCards{
    margin-top: -40px !important;
  }
}
@media screen and (max-width: 960px) {
  .tabs{
    display: none;
  }
  .btn-wdh{
    width: 30% !important;
  }
  .Dbtn{
    width: 24.95% !important;
  }
  .Ebtn{
    width: 25% !important;
  }
  .bottomtabs{
    display: contents;
  }
}