.bottomtabs{
  display: none;
}
.userCards{
  display: flex;
  flex-wrap: wrap ;
}
.contnt{
  height: 86vh;
}
.Cbtn{
  width: 50%;
  display: table;
  margin: 10px auto !important;
}
.Bbtn{
  display: table;
  margin: 10px auto !important;
  border-radius : 0px !important;
  width : 90%;
}
.Bbtn:hover{
  transform: scale(1.1)
}
.control-width{
  width: 31%; 
  margin: 0px 10px 10px 10px;
}
.userCards{
  width: 100% !important;
}
@media screen and (max-width: 1050px) {
  .control-width{
    width: 47%; 
  }
}
@media screen and (max-width: 1050px) {
  .control-width{
    width: 47%; 
  }
}
@media screen and (max-width: 744px) {
  .control-width{
    width: 100%; 
  }
}
@media screen and (max-width: 960px) {
  .tabs{
    display: none;
  }
  .bottomtabs{
    display: contents;
  }
}